# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DataStructure-Algorithm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
